if layoutContent != null
  footer.Footer.clearfix.py4
    div.md-flex.justify-between
      each item, index in layoutContent.getGroup('layout.footerColumns').toArray()
        .Footer-col.my2
          != item.getStructuredText("column").asHtml(ctx.linkResolver)

    - var logo = layoutContent.getImage('layout.footerLogo')

    if logo
      .Footer-logo
        img(src= logo.url, alt='enlite vision' )
