if layoutContent != null
  footer.main-footer
    div
      != layoutContent.getText('layout.menuLabel')
    //- each item in footerContent.getGroup('footer.footerColumns').toArray()
    //-   .col
    //-     != item.getStructuredText("column").asHtml(ctx.linkResolver)
