if layoutContent != null
  header.nav.novecento-normal.flex.my3
    //- include ./menu
    a.nav-home(href='/')
      img.logo(src= layoutContent.getImage('layout.headerLogo').url, alt='enlite vision' )
    //- a.nav-shop(href= '/collections')
    //-   != layoutContent.getText('layout.shopLabel')

    a(href="#" class="snipcart-checkout")
      div.shopping-cart
      div.snipcart-summary.cart-count
        span.snipcart-total-items.cart-count-number

