.collection-preview
  .collection-description!= description.asHtml()

  .collection-products
    if section.products.length > 1
      .swiper-container
        .swiper-wrapper
          for product in section.products
            .swiper-slide
              img.product-img(src='' + product.getImage('product.img').url, alt='')
              .product-name
                != product.getText('product.name')
                | &nbsp;
                != product.getText('product.frame')
                | &nbsp;
                != product.getText('product.lens')

        .swiper-pagination

    else
      for product in section.products
        img.product-img(src='' + product.getImage('product.img').url, alt='')
        .product-name
          != product.getText('product.name')
          | &nbsp;
          != product.getText('product.frame')
          | &nbsp;
          != product.getText('product.lens')

    //- a(href='/collections/#' + section.getText('home-section.collection')) go to collection
