if layoutContent != null
  a.Menu-toggle(href= '#')
    != layoutContent.getText('layout.menuLabel')

  nav.Menu-list.Menu-list--closed.mt3
    ul.py2.pr4
      each link in layoutContent.getGroup('layout.menuLinks').toArray()
        li
          if ( link.getLink("link").url(ctx.linkResolver) )
            a(href=link.getLink("link").url(ctx.linkResolver))
              != link.getText("label")
          else
            h2
              != link.getText("label")
