if layoutContent != null
  a.Menu-toggle(href= '#')
    != layoutContent.getText('layout.menuLabel')

  nav.Menu-list.Menu-list--closed.mt3
    ul.py2.pr4
      each link in layoutContent.getGroup('layout.menuLinks').toArray()
        li
          - var label = link.getText("label")
          - var url = link.getLink("link").url(ctx.linkResolver)
          - var collectionUID = link.getText("collection_uid")

          if collectionUID
            - url = '/collections#' + collectionUID

          if url
            a( href = url )
              != label
          else
            h2
              != label
