nav.menu
  span.menu-toggle Menu

  h2.collections
    a(href='/collections') Collections

  h2 Sun
  a(href='#section-sun-supernatural') Supernatural
  a(href='#section-sun-acetate') Acetate

  h2 Optical
  a(href='#section-optical-supernatural') Supernatural

  h2 Collaborations
  a(href='#section-theopsy') Theopsy
  a(href='#section-corsocomo') 10 Corso Como

  h2
    a(href='#section-innovation') Innovation
