/* reset */

html,body,div,span,applet,object,iframe,h1,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

* {
    box-sizing: border-box
}

strong {
    font-weight: bold;
}

body,
html {
    margin: 0;
    padding: 0;
    touch-action: manipulation;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-tap-highlight-color: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: Arial;
    font-size: 16px;
    background: black;
}

body.noscroll{
    overflow: hidden;
}

.home-section .swiper-container-horizontal > .swiper-pagination-bullets{
    /* top: 6vw; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    position: relative;
    bottom: auto;
    width: auto;
    left: auto;
    margin: 1em 0 0;
}

span.swiper-pagination-bullet,
span.swiper-pagination-bullet-active {
    background: transparent;
    font-family: 'novecento-bold';
    font-size: 1.2em;
}

span.swiper-pagination-bullet {
    opacity: 0.6
}

span.swiper-pagination-bullet-active {
    opacity: 1
}

.swiper-pagination-bullet {
    width: auto;
    height: auto;
    margin: 0 5px;
}


/* typography */

@font-face {
    font-family: 'novecento-bold';
    src: url('../fonts/novecento_bold.eot');
    src: url('../fonts/novecento_bold.eot?#iefix') format('embedded-opentype'), url('../fonts/novecento_bold.woff2') format('woff2'), url('../fonts/novecento_bold.woff') format('woff'), url('../fonts/novecento_bold.ttf') format('truetype');
}

@font-face {
    font-family: 'novecento-medium';
    src: url('../fonts/novecento_medium.eot');
    src: url('../fonts/novecento_medium.eot?#iefix') format('embedded-opentype'), url('../fonts/novecento_medium.woff2') format('woff2'), url('../fonts/novecento_medium.woff') format('woff'), url('../fonts/novecento_medium.ttf') format('truetype');
}

.novecento-bold {
    font-family: 'novecento-bold'
}

.novecento-medium {
    font-family: 'novecento-medium'
}


/* globals */

.content {
    position: relative;
    padding: 0 30px;
}

.logo {
    position: fixed;
    z-index: 2;
    width: 12vw;
    max-width: 220px;
    min-width: 100px;
    transform: translateX(-50%);
    left: 50%;
    top: 3vh;
    overflow: hidden;
}

.logo img {
    width: 100%;
    transform: translateY(0px);
}

section {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
}

.wrapper {
    position: relative;
}

.splash {
    width: 100%;
    display: block;
}

.title,
.subtitle {
    position: absolute;
    z-index: 2;

    color: white;
    text-transform: uppercase;
}

.title {
    left: 8vw;
    top: 70vh;
    transition : color .3s ease-in-out;

    font-size: 28px;
    letter-spacing: 0.38em;
    line-height: 1.25em;
}

.title.dark{
    color: #272525;
}

.portrait .title {
    top: 65%;
}

.subtitle {
    right: 10vw;
    text-align: right;
    top: 100vh;
    font-size: 18px;
    letter-spacing: 0.28em;
    line-height: 1.25em;
}

.portrait .subtitle {
    top: 85%;
}



.frame {
    border: 30px solid black;
    border-top: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    left: 0;
    z-index: 3;
}


.prompt-left,
.prompt-right,
.prompt-down {
    z-index: 3;

    visibility: hidden;
    opacity: 0;

    width: 28px;
    height: 12px;
    background-image: url('../img/down.png');

    pointer-events: all;
    cursor: pointer;
}

.prompt-down {
    position: fixed;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
}

.prompt-left ,
.prompt-right{
    position: absolute;
    top: 50%;
    visibility: visible;
    opacity: 1;

    transition: opacity .6s ease-in;
}
.prompt-left {
    left: -35px;
    transform: rotate(90deg) translateY(-50%);
}
.prompt-right {
    right: -35px;
    transform: rotate(-90deg) translateY(-50%);
}

.prompt-left.swiper-button-disabled,
.prompt-right.swiper-button-disabled{
    opacity: 0
}


/*
.featured {
    overflow: hidden
}

.featured .wrapper {
    background-color: black;
}

.featured .splash,
.featured .title {
    opacity: 0;
}
*/


.section-innovation .subtitle {
    /* left: 8vw; */
    /* text-align: left; */
    /* right: auto; */
    top: 90vh;
}

.portrait .section-innovation .subtitle {
    top: 75%;
}



/* collections */

.collection-preview {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: white;
}

.collection-description {
    width: 45%;
    padding: 6vw;
    line-height: 1.2em;
    font-size: 0.9em;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-family: 'novecento-medium';
    /* font-weight: bold; */
}

.collection-description p{
    margin-bottom: 1em;
}

.collection-description strong {
    letter-spacing: 0.1em;
    font-size: 1.4em;
    line-height: 1.2em;
    font-family: 'novecento-medium';
}


.collection-products {
    width: 55%;
    text-align: center;
    position: relative;
    padding: 6vw 0;
}

.collection-products .product-name {
    font-family: 'novecento-medium';
    font-size: 0.9em;
    margin-top: 1em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.collection-products > a {
    color: #272525;
    font-family: 'novecento-bold';
    text-decoration: none;
    text-transform: uppercase;
    font-size: .7em;
    display: block;
    margin: 3em 0 2em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.collection-products .swiper-slide {
    text-align: center;
}

.collection-products .product-img {
    display: inline-block;
    width: 80%;
}


/*
.title{
    bottom: calc(8vh + 30px);
}

.supernatural .title > span {
    letter-spacing: 0.26em;
}
*/


.video-prompt {
    z-index: 0;
    border-radius: 100%;
    background: white;
    width: 80px;
    height: 80px;
    position: relative;
    top: 1em;
    cursor: pointer;
    display: inline-block;
    margin: 0.8em;
    opacity: 0.8;
    transition: opacity 0.3s ease-out;
}
.video-prompt:hover{
    opacity: 1;
}

.portrait .video-prompt {
    top: 85%;
    width: 60px;
    height: 60px;
}

.video-prompt:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid black;
    border-radius: 2px;
}

.portrait .video-prompt:before {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid black;
}

.video-prompt:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    width: 110%;
    height: 110%;
    border-radius: 100%;
}

.video-player{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 30px;
    bottom: 30px;
    left: 30px;
    background: black;
    z-index: 3;
}

.embed-container {
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    border: 1px solid white;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.close-prompt{
    color: white;
    position: absolute;
    z-index: 3;
    top: 0; left: 0;
    cursor: pointer;
    font-size: 3em;
    padding: 0px 0.3em;
}


.menu{
    position: fixed;
    top: 3vw;
    left: calc(3vw + 30px);
    z-index: 1;
    color: black;
    font-family: 'novecento-medium';
    text-transform: uppercase;
    line-height: 1.3;
}

.menu > span{

}

.menu h1{
    font-weight: bold;
}

.menu h2{
    margin-bottom: 0;
    font-size: 1em;
}
.menu a{
    display: block;
    color: black;
    text-decoration: none;
    transition: all 0.3s;
}
.menu a:hover{
    text-decoration: underline;
}


.main-footer{
    color: white;
    text-transform: uppercase;
    font-family: 'novecento-medium';
    font-size: .7em;
    letter-spacing: 0.25em;
    line-height: 1.6em;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding:  50px;
}

.main-footer h2{
    font-size: 1em;
    margin: 2em 0 0.2em;
}
.main-footer h2:first-child{
    margin-top: 0;
}

.main-footer .col:first-child{
    width: 20%;
}

.main-footer a{
    display: block;
    color: white;
    text-decoration: none;
}
.main-footer a:hover{
    text-decoration: underline;
}
.main-footer input[type=email]{
    border: 0;
    line-height: 1.7em;
    padding: .5em;
    text-transform: uppercase;
    margin: .2em 0
}

.main-footer input[type="submit"] {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button;
    font-size: 1.3em;
    letter-spacing: 0.25em;
    padding-left: .5em;

}
.main-footer input::-moz-focus-inner,
.main-footer button::-moz-focus-inner {
    border: 0;
    padding: 0;
