extends ./layout

block prepend body
  include ./partials/header

  .content.page-collection
    div.max-width-4.mx-auto


      for section in pageContent
        a(id=section.uid)

        section.collection-section.pt4.clearfix
          - var title = section.getStructuredText('collection.title')
          - var description = section.getStructuredText('collection.description')
          - var header = section.getImage('collection.header')

          if title
            .title.mb2.col-12
              != title.asHtml()

          if description
            .description.mb1.sm-col-12.md-col-7.mb2
              != description.asHtml()

          if header
            .header-img.pb3.col-12
              img(src= header.url, alt='' )

          if section.products.length > 0
            .products
              for product in section.products
                - var name = product.getText('product.fullName')
                - var front = product.getImage('product.img')
                - var side = product.getImage('product.side-img')

                .product.sm-col.sm-col-6.md-col-4.py2
                  a(href=ctx.linkResolver(product))

                    if side != null
                      img.product-img-side(src = side.url, alt = name)
                    else
                      if front != null
                        img.product-img(src = front.url, alt = name)
                    if name
                      .product-name.my3
                        != name

      include ./partials/footer
