extends ./layout

block prepend body

  .content.page-collection
    .logo
      a(href='/')
        img(src='/public/img/logo.png', alt='enlite logo')

    for section in pageContent
      a(id=section.uid)
      section(class='collection-section' )
        - var title = section.getStructuredText('collection.title')
        if title
          .title
            != title.asHtml()

        if section.products.length > 0
          .products
            for product in section.products
              .product
                a(href=ctx.linkResolver(product))
                  img.product-img(src='' + product.getImage('product.img').url, alt='')
                  .product-name
                    != product.getText('product.name')
                    | &nbsp;
                    != product.getText('product.frame')
                    | &nbsp;
                    != product.getText('product.lens')
