extends ./layout

mixin intro(slice)
  .slice.intro.clearfix.my4
    .col.col-5
      //- logo
      .desc.novecento-condensed
        != slice.nonRepeat.text.asHtml()

    .col.col-1 &nbsp;

    .col.col-6.flex.justify-end
      .swiper-container
        .swiper-wrapper

          each item in slice.repeat.toArray()
            .swiper-slide
              img(src= item.getImage('image').url, alt='' )

        .swiper-pagination


mixin textLeft(slice)
  .slice.text-left.clearfix.my4
    .col.col-5
      .title.novecento-bold
        != slice.nonRepeat.title.asHtml()
      .desc.novecento-condensed.my2
        != slice.nonRepeat.description.asHtml()
      a.collection-link.mb3(href='#')
        | go to collection
      video.cinegraph.mt1(autoplay='', muted='', loop='', preload='auto', playsinline='')
        - var videoUrl = slice.nonRepeat.videoUrl ? slice.nonRepeat.videoUrl.value.url : ''
        source(src= ''+videoUrl, type='video/mp4')

    .col.col-1 &nbsp;

    .col.col-6.flex.justify-end
      .swiper-container
        .swiper-wrapper
          each item in slice.repeat.toArray()
            .swiper-slide
              img(src= item.getImage('image').url, alt='' )

        .swiper-pagination

mixin textRight(slice)
  .slice.text-right.clearfix.my4
    .col.col-6
      .swiper-container
        .swiper-wrapper
          each item in slice.repeat.toArray()
            .swiper-slide
              img(src= item.getImage('image').url, alt='' )

        .swiper-pagination

    .col.col-1 &nbsp;

    .col.col-5.pl4.mxn1
      .title.novecento-bold
        != slice.nonRepeat.title.asHtml()
      .desc.novecento-condensed.my2
        != slice.nonRepeat.description.asHtml()
      a.collection-link.mb3(href='#')
        | go to collection
      video.cinegraph.mt1(autoplay='', muted='', loop='', preload='auto', playsinline='')
        - var videoUrl = slice.nonRepeat.videoUrl ? slice.nonRepeat.videoUrl.value.url : ''
        source(src= ''+videoUrl, type='video/mp4')

block body

  .content.home

    div.max-width-4.mx-auto
      header
        .logo
          img(src='/public/img/logo.png', alt='enlite logo')

        a.menu(href= '#') Menu
        a.shop(href= '#') Shop
        //- include ./partials/menu

      - var sliceZone = pageContent.getSliceZone('home-page.body') || {}
      for slice in sliceZone.slices

        case slice.sliceType
          when 'intro'
            + intro(slice)
          when 'text-left'
            + textLeft(slice)
          when 'text-right'
            + textRight(slice)
