extends ./layout

block prepend body
  body.index

    .content
      .logo
        img(src='public/img/logo.png')
      .frame
        .prompt-down

      for section in pageContent
        section
          .wrapper
            .title.novecento-medium
              != section.getStructuredText('home-section.title').asHtml()

            - var slides = section.getGroup('home-section.slides')
            if slides
              if slides.toArray().length > 1
                .prompt-left
                .prompt-right

                .swiper-container
                  .swiper-wrapper
                  for slide in slides.toArray()
                    .swiper-slide
                      img.splash(src='' + slide.getImage('img').url )
              else
                img.splash(src='' + slides.toArray()[0].getImage('img').url )

          - var collection = section.getText('home-section.collection')
          - var description = section.getStructuredText('home-section.description')
          if collection != null && description != null
            .collection-preview
              .collection-description
                != description.asHtml()

              .collection-products
                .swiper-container
                  .swiper-wrapper
                    .swiper-slide
                      .product-name volt black platinum
                      img.product-img(src='public/img/products/volt.jpg')
                    .swiper-slide
                      .product-name miles brown
                      img.product-img(src='public/img/products/miles_brown.jpg')
                  .swiper-pagination
                a(href='/collections/supernatural') go to collection
