doctype html(lang='en')

head
  meta(charset="UTF-8")
  meta(name="google" value="notranslate")
  meta(name="viewport" content="width=device-width, shrink-to-fit=0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")

  title ENΛITE
  meta(property="og:title" content="EnΛite")
  meta(property="og:type" content="website")
  meta(property="og:image" content="https://scontent-cdg2-1.xx.fbcdn.net/t31.0-8/12977066_1227117107305974_4521277936611793862_o.jpg")
  meta(property="og:description" content="EnΛite")

  script(src="public/lib/detection.js")
  link(rel="stylesheet" type="text/css" href="public/style/swiper.min.css")
  link(rel="stylesheet" type="text/css" href="public/style/style.css")

body

  .content
    .logo
      img(src='public/img/logo.png')
    .frame
      .prompt-down
    section.featured
      img.splash(src='public/img/featured.jpg')
      .title.novecento-medium
        | welcome
        br
        | to enlite
      .subtitle.novecento-medium
        | making ideas possible
        br
        |           with innovative
        br
        |           unique processes.
    section.supernatural
      .wrapper
        .title.novecento-medium
          span sun collection
          br
          | supernatural
        .prompt-left
        .prompt-right
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              img.splash(src='public/img/supernatural_1.jpg')
            .swiper-slide
              img.splash(src='public/img/supernatural_2.jpg')
            .swiper-slide
              img.splash(src='public/img/supernatural_3.jpg')
      .collection-preview
        .collection-description
          .strong.novecento-bold
            | SMOOTH CURVES
            br
            |             HAND MADE FINISHINGS
            br
            |             EXCLUSIVE CARL ZEISS LENSES
          br
          .novecento-medium
            | DESIGN TO FIT INTO ANY TYPE OF FACE
            br
            |             SUPERNATURAL EXCLUSIVE MATERIAL
            br
            |             100% RECYCLABLE  BOYANT
        .collection-products
          .swiper-container
            .swiper-wrapper
              .swiper-slide
                .product-name volt black platinum
                img.product-img(src='public/img/products/volt.jpg')
              .swiper-slide
                .product-name miles brown
                img.product-img(src='public/img/products/miles_brown.jpg')
            .swiper-pagination
          a(href='/collections/supernatural') go to collection
    section.optical
      .wrapper
        .title.novecento-medium
          | optical
          br
          | collection
        .prompt-left
        .prompt-right
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              img.splash(src='public/img/optical_1.jpg')
            .swiper-slide
              img.splash(src='public/img/optical_2.jpg')
            .swiper-slide
              img.splash(src='public/img/optical_3.jpg')
      .collection-preview
        .collection-description
          .strong.novecento-bold
            | FINE GEOMETRY AND
            br
            |             SMOOTH CURVES
          br
          br
          .novecento-medium
            p
              | super natural optical IS A lightweight
              | COLLECTION made with an advanced,
              | patented wooden frame ADJUSTABLE
              | IN ANY LENS.
            p
              | RESISTANCE, HIGH FLEXIBILITY
              | AND SUPERIOR HANDMADE FINISHING.
        .collection-products
          .swiper-container
            .swiper-wrapper
              .swiper-slide
                .product-name.novecento-medium KLAY NATURAL
                img.product-img(src='public/img/products/klay.jpg')
              .swiper-slide
                .product-name.novecento-medium miles brown
                img.product-img(src='public/img/products/miles_brown.jpg')
            .swiper-pagination
          a(href='/collections/supernatural') go to collection
    section.theopsy
      .wrapper
        .title.novecento-medium
          | SPECIAL
          br
          |           EDITION
          br
          |           ENLITE BY
          br
          |           THEOSPY
        img.splash(src='public/img/theopsy.jpg')
      .collection-preview
        .collection-description
          .strong.novecento-bold
            | HAND PAINTED
            br
            |             LIMITED EDITION
          br
          .novecento-medium
            | OUR BEST SELLER STYLE
            br
            |             ‘LAKAN’ CREATED BY ARTIST THEOSPY.
            br
            |             UNIQUE MONOCHROMATIC ARTWORK IN YOUR FRAME.
        .collection-products
          .swiper-container
            .swiper-wrapper
              .swiper-slide
                .product-name
                  | lakan black ellitical
                  br
                  |  by theospy
                img.product-img(src='public/img/products/theospy-lakan-black-ellitical.jpg')
              .swiper-slide
                .product-name
                  | lakan white square
                  br
                  |  by theospy
                img.product-img(src='public/img/products/theospy-lakan-white-square.jpg')
            .swiper-pagination
          a(href='/collections/supernatural') go to collection
    section.corsocomo
      .wrapper
        .title.novecento-medium
          | CORSO COMO
          br
          |           LIMITED EDITION
        .prompt-left
        .prompt-right
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              img.splash(src='public/img/corsocomo_1.jpg')
            .swiper-slide
              img.splash(src='public/img/corsocomo_2.jpg')
      .collection-preview
        .collection-description
          .strong.novecento-bold
            | an exclusive collection
            br
            |             for milan’s premier art and design hub 10 corso como
          br
          .novecento-medium
            | unique monochromatic artwork reflecting the united design spirit of enlite and 10 corso como.
        .collection-products
          .product-name
            | lakan black with white hand
            br
            | painted square pattern
          img.product-img(src='public/img/products/theospy-lakan-black-ellitical.jpg')
          a(href='/collections/supernatural') go to collection
    section.innovation
      .wrapper
        img.splash(src='public/img/innovation.jpg')
        .title.novecento-medium
          | INNOVATION
        .subtitle.novecento-medium
          | innovative use of cnc
          br
          |           technology using natural materials.
        .video-prompt
        .video-player
          .close-prompt ×
          .embed-container
            iframe(src='https://player.vimeo.com/video/120843086?color=ffffff&title=0&byline=0&portrait=0', width='640', height='275', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')

  if footerContent != null
    footer#main-footer
      each fitem in footerContent.getGroup('footer.footerColumns').toArray()
        .col
          != fitem.getStructuredText("column").asHtml(ctx.linkResolver)

  script(src='public/bundle.js')
