extends ./layout

block prepend body
  body.index

    .content
      .logo
        img(src='public/img/logo.png')
      .frame
        .prompt-down

      //- nav.menu
      //-   span Menu

      //-   h1 Collections

      //-   h2 Sun
      //-   a(href='#sun-supernatural') Supernatural
      //-   a(href='#sun-acetate') Acetate

      //-   h2 Optical
      //-   a(href='#optical-supernatural') Supernatural

      //-   h2 Collaborations
      //-   a(href='#Theopsy') Theopsy
      //-   a(href='#corsocomo') 10 Corso Como

      //-   h2
      //-     a(href='#innovation') Innovation

      for section in pageContent

        section(class='home-section '+ section.uid )
          - var title = section.getStructuredText('home-section.title')
          - var subtitle = section.getStructuredText('home-section.subtitle')
          - var slides = section.getGroup('home-section.slides')
          - var video = section.get('home-section.video')

          .wrapper
            if title
              .title!= title.asHtml()

            if subtitle
              .subtitle!= subtitle.asHtml()
                if video
                  .video-prompt
                  .video-player
                    .close-prompt ×
                    .embed-container
                      != video.asHtml()

            if slides
              if slides.toArray().length > 1
                .prompt-left
                .prompt-right

                .swiper-container
                  .swiper-wrapper
                    for slide in slides.toArray()
                      - img = slide.getImage('img')
                      - textColor = slide.getText('textColor')
                      if img
                        - var darkText = slide.getText('textColor')
                        .swiper-slide(class= darkText ? darkText : '')
                          img.splash(src='data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=' data-src='' + img.url )
              else
                - img = slides.toArray()[0].getImage('img')
                if img
                  if section.uid == 'section-welcome'
                    img.splash(src='' + img.url )
                  else
                    img.splash(src='data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=' data-src='' + img.url )


          - var description = section.getStructuredText('home-section.description')
          - var displayCollection = (description && section.products) != null && section.products.length > 0

          if displayCollection
            include ./partials/home-section-collection
