extends ./layout

block prepend body
  body.index

    .content
      .logo
        img(src='public/img/logo.png')
      .frame
        .prompt-down

      for section in pageContent
        section.home-section
          .wrapper
            .title.novecento-medium
              != section.getStructuredText('home-section.title').asHtml()

            - var slides = section.getGroup('home-section.slides')
            if slides
              if slides.toArray().length > 1
                .prompt-left
                .prompt-right

                .swiper-container
                  .swiper-wrapper
                    for slide in slides.toArray()
                      .swiper-slide
                        img.splash(src='' + slide.getImage('img').url )

              else
                img.splash(src='' + slides.toArray()[0].getImage('img').url )

          - var description = section.getStructuredText('home-section.description')
          - var displayCollection = (description && section.products) != null
          if displayCollection
            .collection-preview
              .collection-description!= description.asHtml()

              .collection-products
                if section.products.length > 1
                  .swiper-container
                    .swiper-wrapper
                      for product in section.products
                        .swiper-slide
                          .product-name
                            != product.getText('product.name')
                            | &nbsp;
                            != product.getText('product.frame')
                            | &nbsp;
                            != product.getText('product.lens')
                          img.product-img(src='' + product.getImage('product.img').url)

                    .swiper-pagination
                else
                  for product in section.products
                    .product-name
                      != product.getText('product.name')
                      | &nbsp;
                      != product.getText('product.frame')
                      | &nbsp;
                      != product.getText('product.lens')
                    img.product-img(src='' + product.getImage('product.img').url)

                a(href='/collections/#' + section.getText('home-section.collection')) go to collection
