extends ./layout

mixin intro(slice)
  .Slice.Slice--intro.clearfix.my4.pb4.md-flex.items-stretch
    .Slice-image.sm-col.sm-col-11.md-col-6.order-2
      .swiper-pagination
      .swiper-container
        .swiper-wrapper

          each item in slice.repeat.toArray()
            .swiper-slide(style='background-image: url(' + item.getImage('image').url +')')
              img(src= item.getImage('image').url, alt='' )

    .md-col.md-col-1.order-1 &nbsp;

    .Slice-text.sm-col.sm-col-12.md-col-5.order-0
      img.logo(src= slice.nonRepeat.logo.url, alt='' )

      .desc.mt1.novecento-condensed
        != slice.nonRepeat.text.asHtml()


mixin textLeft(slice)
  .Slice.Slice--text-left.clearfix.my4.pb4.md-flex.items-stretch
    .Slice-text.md-col.md-col-5
      .title.novecento-bold
        != slice.nonRepeat.title.asHtml()
      .desc.novecento-condensed.my2
        != slice.nonRepeat.description.asHtml()
      a.Slice-collectionLink.mb2(href='#')
        | go to collection

      video.cinemagraph(autoplay='', muted='', loop='', preload='auto', playsinline='')
        - var videoUrl = slice.nonRepeat.videoUrl ? slice.nonRepeat.videoUrl.value.url : ''
        source(src= ''+videoUrl, type='video/mp4')

    .md-col.md-col-1 &nbsp;

    .Slice-image.md-col.md-col-6
      .swiper-pagination
      .swiper-container
        .swiper-wrapper
          each item in slice.repeat.toArray()
            .swiper-slide(style='background-image: url(' + item.getImage('image').url +')')
              img(src= item.getImage('image').url, alt='' )


mixin textRight(slice)
  .Slice.Slice--text-right.clearfix.my4.pb4.md-flex.items-stretch

    .Slice-text.md-col.md-col-5.order-2
      .title.novecento-bold
        != slice.nonRepeat.title.asHtml()
      .desc.novecento-condensed.my2
        != slice.nonRepeat.description.asHtml()
      a.Slice-collectionLink.mb2(href='#')
        | go to collection
      video.cinemagraph(autoplay='', muted='', loop='', preload='auto', playsinline='')
        - var videoUrl = slice.nonRepeat.videoUrl ? slice.nonRepeat.videoUrl.value.url : ''
        source(src= ''+videoUrl, type='video/mp4')

    .md-col.md-col-1.order-1 &nbsp;

    .Slice-image.md-col.md-col-6.order-0
      .swiper-pagination
      .swiper-container
        .swiper-wrapper
          each item in slice.repeat.toArray()
            .swiper-slide(style='background-image: url(' + item.getImage('image').url +')')
              img(src= item.getImage('image').url, alt='' )


block body

  .content.home

    div.max-width-4.mx-auto

      //- header
      if layoutContent != null
        header.nav.novecento-normal.flex.items-center.justify-between.my3
          include ./partials/menu
          a(href='/')
            img.logo(src= layoutContent.getImage('layout.headerLogo').url, alt='enlite vision' )
          a.nav-shop(href= '#')
            != layoutContent.getText('layout.shopLabel')

      //- slices
      - var sliceZone = pageContent.getSliceZone('home-page.body') || {}
      for slice in sliceZone.slices

        case slice.sliceType
          when 'intro'
            + intro(slice)
          when 'text-left'
            + textLeft(slice)
          when 'text-right'
            + textRight(slice)

      include ./partials/footer
