doctype html(lang='en')

head
  meta(charset="UTF-8")
  meta(name="google" value="notranslate")
  meta(name="viewport" content="width=device-width, shrink-to-fit=0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")

  title ENΛITE
  meta(property="og:title" content="EnΛite")
  meta(property="og:type" content="website")
  meta(property="og:image" content="https://scontent-cdg2-1.xx.fbcdn.net/t31.0-8/12977066_1227117107305974_4521277936611793862_o.jpg")
  meta(property="og:description" content="EnΛite")

  script(src="public/lib/detection.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.2/picturefill.min.js")
  link(rel="stylesheet" type="text/css" href="public/style/swiper.min.css")
  link(rel="stylesheet" type="text/css" href="public/style/style.css")

body
  block body

  include ./partials/footer

  script(src='public/bundle.js')
