doctype html

html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title ENΛITE
    meta(property="og:title" content="EnΛite")
    meta(property="og:type" content="website")
    meta(property="og:image" content="http://enlitevision.herokuapp.com/public/img/share.jpg")
    meta(property="og:description" content="EnΛite")
    meta(name="google-site-verification" content="7XnT4G6HIxMmknFOX3cnC0nOte4umY84lgowlJTpMPA")

    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MZZ559C');
    // End Google Tag Manager

    script(src="/public/lib/detection.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.2/picturefill.min.js")
    link(rel="stylesheet" type="text/css" href="/public/style/swiper.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
    script#snipcart(src="https://cdn.snipcart.com/scripts/2.0/snipcart.js",data-api-key="Y2MxYjkyOWMtMTQ2ZS00NTBkLTg4NTgtZTY0YWU3YTJiMzJhNjM2MDgwNzgwOTc2NzAxNDk3")
    link(rel='stylesheet', href='https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css', type='text/css')
    script
      = ctx?"window.prismic = { endpoint: '" + ctx.endpoint + "' };":""
    script(src="//static.cdn.prismic.io/prismic.min.js")

    link(rel="stylesheet" type="text/css" href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css")
    link(rel="stylesheet" type="text/css" href="/public/style/style.css")
  block body

  script(src='/public/bundle.js')

  // Google Tag Manager (noscript)
  noscript
    iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-MZZ559C', height='0', width='0', style='display:none;visibility:hidden')
  // End Google Tag Manager (noscript)
