extends ./layout

block body
  include ./partials/header

  .content.Product
    div.max-width-4.mx-auto

        .Product-wrapper.clearfix.md-flex.py4.my4
          - var image = productContent.getImage('product.img')
          - var side_image = productContent.getImage('product.side-img')

          - var ref = productContent.getNumber('product.ref')
          - var price = productContent.getNumber('product.price')
          - var name = productContent.getText('product.fullName')
          - var frame = productContent.getText('product.frame')
          - var lens = productContent.getText('product.lens')
          - var collection = productContent.tags.indexOf('sun') > -1 ? 'sun': 'optical'
          - var material = productContent.tags.indexOf('supernatural') > -1 ? 'supernatural' : productContent.tags.indexOf('acetate') > -1 ? 'acetate' : ''

          .Product-gallery.sm-col.sm-col-12.md-col-6.relative.order-1
            .swiper-pagination
            .swiper-container.Product-images
              .swiper-wrapper
                if image
                  .swiper-slide
                    img(src=image.url)

                if side_image
                  .swiper-slide
                    img(src = side_image.url)

          .Product-description.sm-col.sm-col-12.md-col-6.order-0
            .Product-collection
              a(href='/collections')
                != collection + ' collection ' + material

            .Product-info(data-wio-id=''+productContent.id)

              .Product-name
                != name ? name + ' ' : ''

              .Product-details
                p
                  != frame ? 'frame: ' + frame : ''
                p
                  != lens ? 'lens: ' + lens : ''
                // p
                //   != ref ? 'article n°: ' + ref : ''

              .Product-price
                != price ? "€" + price : ''

              include ./partials/add-to-cart-button.pug




        if relatedProducts.results_size > 0
          div.Product-related
            h2 More Colours
            div.recommended-wrapper
              for relatedProduct in relatedProducts.results
                - var relatedImage = relatedProduct.getImage('product.img')
                - var relatedImageURL = relatedImage ? relatedImage.url : ""
                - var relatedSide_image = productContent.getImage('product.side-img')
                - var relatedSide_imageURL = relatedSide_image ? relatedSide_image.url : ""

                div.recommended-product
                  a(href=ctx.linkResolver(relatedProduct))
                    if relatedImage
                      img.recommended-image(src=relatedImageURL)
                    else
                      img.recommended-image(src=relatedSide_imageURL)


        include ./partials/footer
